div#container
{
   width: 1250px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Layer3
{
   background-color: #0000FF;
   background: linear-gradient(to top, #0000FF 0%, #000080 100%);
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer4
{
   background-color: #FBFBFB;
   background-image: none;
}
#Article3
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: center;
}
#Article3 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: center;
}
#Article3 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article3 .blogsubject, #Article3 .blogsubject a:link, #Article3 .blogsubject a:visited, #Article3 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article3 .blogcomments, #Article3 .blogcomments a:link, #Article3 .blogcomments a:visited, #Article3 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article3 .blogcomments
{
   text-decoration: none;
}
#Article3 .no-thumb
{
   display: none;
}
#Article3 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article3 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article3 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
#Article3 .blogdate, #Article3 .blogcomments
{
   display: none;
}
#Article3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article2
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.2;
   margin: 0;
   text-align: center;
}
#Article2 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: center;
}
#Article2 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article2 .blogsubject, #Article2 .blogsubject a:link, #Article2 .blogsubject a:visited, #Article2 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   color: #666666;
   text-decoration: none;
}
#Article2 .blogcomments, #Article2 .blogcomments a:link, #Article2 .blogcomments a:visited, #Article2 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   color: #000000;
   text-decoration: underline;
}
#Article2 .blogcomments
{
   text-decoration: none;
}
#Article2 .no-thumb
{
   display: none;
}
#Article2 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article2 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article2 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
#Article2 .blogdate, #Article2 .blogcomments
{
   display: none;
}
#Article2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer5
{
   background-color: #FBFBFB;
   background-image: none;
   box-shadow: 0px 0px 10px #228B22;
}
#Article1
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
}
#Article1 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article1 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article1 .blogsubject, #Article1 .blogsubject a:link, #Article1 .blogsubject a:visited, #Article1 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   color: #666666;
   text-decoration: underline;
}
#Article1 .blogcomments, #Article1 .blogcomments a:link, #Article1 .blogcomments a:visited, #Article1 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article1 .blogcomments
{
   text-decoration: none;
}
#Article1 .no-thumb
{
   display: none;
}
#Article1 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article1 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article1 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
#Article1 .blogdate, #Article1 .blogcomments
{
   display: none;
}
#Article1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Layer2
{
   background-color: #FBFBFB;
   background-image: none;
   box-shadow: 0px 0px 10px #228B22;
}
#Article4
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
}
#Article4 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article4 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article4 .blogsubject, #Article4 .blogsubject a:link, #Article4 .blogsubject a:visited, #Article4 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   color: #666666;
   text-decoration: underline;
}
#Article4 .blogcomments, #Article4 .blogcomments a:link, #Article4 .blogcomments a:visited, #Article4 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   color: #000000;
   text-decoration: underline;
}
#Article4 .blogcomments
{
   text-decoration: none;
}
#Article4 .no-thumb
{
   display: none;
}
#Article4 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article4 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article4 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
#Article4 .blogdate, #Article4 .blogcomments
{
   display: none;
}
#Article4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Layer6
{
   background-color: #FBFBFB;
   background-image: none;
   box-shadow: 0px 0px 10px #228B22;
}
#Article5
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
}
#Article5 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article5 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article5 .blogsubject, #Article5 .blogsubject a:link, #Article5 .blogsubject a:visited, #Article5 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   color: #666666;
   text-decoration: underline;
}
#Article5 .blogcomments, #Article5 .blogcomments a:link, #Article5 .blogcomments a:visited, #Article5 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   color: #000000;
   text-decoration: underline;
}
#Article5 .blogcomments
{
   text-decoration: none;
}
#Article5 .no-thumb
{
   display: none;
}
#Article5 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article5 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article5 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
#Article5 .blogdate, #Article5 .blogcomments
{
   display: none;
}
#Article5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
